/* Main file */
div .main {
  margin: 95px;
}
div .main h1 {
  font-size: 100px;
  font-weight: normal;
}
.current-degree {
  font-size: 200px;
}
.current-degree span {
  font-size: 30px;
  position: relative;
  top: -130px;
}
nav {
  color: black;
}

.main .units {
  background-color: inherit;
  border: 0px;
}

.date span {
  font-size: 50px;
}
